<form action=<%= taskeeId(task) %> accept-charset="UTF-8" data-remote="true" method="post">
	<%= changeFormMethodOnBid(task) %>
	<input name="utf8" type="hidden" value="✓">
	<input type="hidden" name="taskee[task_id]" id="taskee_task_id" value=<%= task.id %>>
	<input 
		value=<%=showBid(task) 
		%> 
		class="form-control col-4 d-inline-block" 
		type=<%=bidType(task)%> 
		step="0.01"
		name="taskee[bid]" 
		id="taskee_bid"> 
	<%= buttonIfBid(task) %>
	<a 
		class="btn btn-warning titleFont"
		rel="nofollow" 
		data-method="delete" 
		<%=showUndoBid(task)%>
		href=<%= taskeeId(task) %> 
	>
	Undo Bid
	</a>
</form>