<%= showNavBar %>

<div>
<div class="mainCenter">

	<h1 class="logoFont">Here are the available tasks.</h1>

	<div>
		<% @tasks.each do |task| %>
			<div class="card d-inline-block align-top m-3" style="width: 20rem;">
				<div class="card-body">
					<img 
						src="<%= image_url showStatus(task) %>" 
						class="position-relative float-right"
					/>
					<h5 class="card-title">
						<%= task.task_name %>
					</h5>
					<h5 class="card-text">
						<%= number_to_currency(task.price) %>
						<%= showNego(task.negotiable) %>
					</h5>
					<h5 class="card-title">Postal Code: <%= task.location %></h5>
					<p class="card-text">Start Time: <%= task.start_time %></p>
					<h6 class="card-subtitle mb-2 text-muted innerDesc"> <%= task.task_description %></h6>
					<p class="card-text">
						Posted by: <strong><%= task.user.username %></strong>
					</p>
					<p class="card-text">
						On: <%= task.created_at %>
					</p>
					<%= promptIfBidded(task) %> 
					
					<form action=<%= taskeeId(task) %> accept-charset="UTF-8" data-remote="true" method="post">
						<%= changeFormMethod(task) %>
						<input name="utf8" type="hidden" value="✓">
						<input type="hidden" name="taskee[task_id]" id="taskee_task_id" value=<%= task.id %>>
						$<input 
							value=<%=showBid(task) 
							%> 
							class="form-control col-4 d-inline-block" 
							type=<%=bidType(task)%> 
							step="0.01"
							name="taskee[bid]" 
							id="taskee_bid"> 
						<%= buttonIfBid(task) %>
					</form>
				</div>
			</div>
	  	<% end %>
	</div>
	<br/>
</div>
</div>

<p>
	<img src="<%= image_url 'circles/open-circle.png' %>"/>
	This icon means the task is open for taskees.
</p>
<p>
	<img src="<%= image_url 'circles/closed-circle.png' %>"/>
	This icon means the tasker has selected the taskee.</p>
<p>
	<img src="<%= image_url 'circles/smiley-circle.png' %>"/>
	This icon means that the job is done.
</p>
<p>
	<img src="<%= image_url 'circles/closed-circle-red.png' %>"/>
	This icon means that the job is incomplete, for some reason.
</p>