<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand logoFont" href="/">TaskManager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/new/tasks">New Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tasks">Your Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/taskees">Find Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locations">See Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>

      <li class="nav-item">
        <span class="nav-link">
		  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
        </span>
      </li>

      <li class="nav-item">
        <span class="nav-link">
          <%= link_to 'Log Out', destroy_user_session_url, method: :delete %>
        </span>
      </li>

     <li class="nav-item">
        <span class="nav-link">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.username %></strong>.

		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
       </span>
      </li>

    </ul>
  </div>
</nav>

