<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATiUC-CYabYFtmwdk5Aw88h1PAyTP8zGI&libraries=places'></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		currentMap(<%=@task.latitude%>, <%=@task.longitude%>)
	});
</script>
<% end %>
<%= showNavBar %>
<div>
    <div class="mainCenter">

        <h1 class="titleFont">Showing Task: <%= @task.task_name %></h1>

        <%= link_to 'New task', new_task_path %>
        <%= link_to 'Back', tasks_path %>

        <div class="mainCenter col-10">
            <% if user_signed_in? %>

            <div class="card d-inline-block align-top m-3 col-4" style="
              <%=changeTaskCardBackground(@task) %> 
              border-width: 5px; 
              width: 20rem;
            ">
                <div class="card-body ">

                    <%= showNego(@task.negotiable) %>
                      <%= number_to_currency(@task.price) %>
                    </h5>

                    <h5 class="card-title titleFont">
                      <%= @task.task_name %>
                    </h5>

                    <h5 class="card-text">
                      <%= (@task.start_time).strftime("%d/%m/%Y ")  %>
                      <br>
                      <%= (@task.start_time).strftime("at %I:%M%p")  %>
                    </h5>

                    <p class="card-title text-muted">
                      <small>
                        <%= @task.location %>
                      </small>
                    </p>

                    <strong class=" alert alert-warning d-inline-block">
                      <%= 
                        if taskStatusUpdate(@task)==="completed"
                          render plain: 'This task was completed'
                        elsif taskStatusUpdate(@task) === "incomplete" 
                          render plain: 'This task was not completed'
                        else 
                          render partial: "taskStatusUpdate", locals: {task: @task}
                        end
                      %>
                    </strong>

                    <h6 class="card-subtitle mb-2 text-muted innerDesc"> <%= @task.task_description %></h6>
                    <p class="card-text">
                      Posted on:
                        <%= (@task.created_at).strftime("%d/%m/%Y at %I:%M%p")  %>
                    </p>
                    <%= link_to 'Show', task_path(@task) %>
                    <%= link_to 'Edit', edit_task_path(@task) %>
                    <%= link_to 'Destroy', task_path(@task),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                  </div>
            </div>
            <% end %>

            <div class = "col-4 d-inline-block">
              <% @taskees.each do |taskee| %>
                <div class="card">
                    <%= showSelectedTaskeeCard(taskee.selected) %>
                      <%= 
                        if @task.negotiable === true
                          render partial: "showBidding", locals: {taskee: taskee}
                        else
                          render partial: "showIndicating", locals: {taskee: taskee}
                        end
                      %>
                      <form action= <%= "/taskees/"+taskee.id.to_s %> accept-charset="UTF-8" data-remote="true" method="post">
                        <input name="_method" type="hidden" value="patch" />
                        <input name="utf8" type="hidden" value="✓">
                        <input 
                          type="hidden" 
                          name="taskee[selected]" 
                          id="taskee_selected" 
                          value=<%= changeValueOnSelectTaskee(taskee.selected) %> 
                        >
                        <input 
                          type="submit" 
                          name="commit" 
                          <%= changeButtonOnSelectTaskee(taskee.selected) %>  
                          data-disable-with="Save Task" 
                          >
                      </form>
                    </div>
                </div>
              <% end %>
              <%= 
                selectedTaskee = @taskees.where(:task_id => @task.id, :selected => true).exists?
                confirmedTask = @task.confirmed
                if selectedTaskee === true 
                  if confirmedTask === true
                    render html: '<strong class=" alert alert-warning d-inline-block">Task Confirmed</strong>'.html_safe
                  else
                    render partial: "buttonToConfirmTaskee", locals: {task: @task}
                  end
                else
                  render plain: "You have to select at least one user before confirming the task"
                end
              %>
              <br>
              <%= 
                confirmedTask = @task.confirmed
                completedTask = @task.completed
                incompleteTask = @task.incomplete              
                if confirmedTask === true && completedTask != true && incompleteTask != true
                  render partial: "buttonToConcludeTask", locals: {task: @task, setName: "task[completed]", setId: "task_completed", setButton: "complete" }
                elsif confirmedTask != true
                  render plain: "You have to confirm the task before concluding the task"
                elsif completedTask === true
                  render plain: "You have marked the task as completed"
                elsif incompleteTask === true
                  render plain: "You have marked the task as incomplete"
                end
              %>
              <%=
                if confirmedTask === true && incompleteTask != true && completedTask != true
                  render partial: "buttonToConcludeTask", locals: {task: @task, setName: "task[incomplete]", setId: "task_incomplete", setButton: "incomplete" }
                end
              %>
              <div id="map"></div>
          </div>
        </div>
        <br/>
    </div>
</div>
