

<nav style="background-color:rgba(245,245,245,0.9);"class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top">
  <a class="navbar-brand logoFont " style="font-size:35px;" href="#">TaskManager</a>
<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

    </ul>
    <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, :placeholder => "Email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
        </div>
<!--         <div class="checkbox">
          <%= f.check_box :remember_me %><%= f.label :remember_me %>
        </div> -->
        <%= f.submit 'Login', class: "btn btn-default" %>
<% end %>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link-primary" style="font-size: 13.5px;" href="/users/sign_up">Don't have an Account? Register Here.</a>
      </li>
     </ul>
  </div>
</nav>