<% if user_signed_in? %>
<%= render template: "components/navbarLoggedIn"%>
<% else %>
<%= render template: "components/navbarNewUser"%>
<% end %>

<p>This is the introduction page to the site</p>

<p>
	<img src="<%= image_url 'circles/open-circle.png' %>"/>
	This icon means the task is open for taskees.
</p>
<p>
	<img src="<%= image_url 'circles/closed-circle.png' %>"/>
	This icon means the tasker has selected the taskee.</p>
<p>
	<img src="<%= image_url 'circles/smiley-circle.png' %>"/>
	This icon means that the job is done.
</p>
<p>
	<img src="<%= image_url 'circles/closed-circle-red.png' %>"/>
	This icon means that the job is incomplete, for some reason.
</p>