<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATiUC-CYabYFtmwdk5Aw88h1PAyTP8zGI&libraries=places'></script>
<script>
	document.addEventListener("DOMContentLoaded", markMap);
</script>
<% end %>

<%= form_with(model: location, local: true) do |form| %>
<% if location.errors.any? %>
<div id="error_explanation">
	<h2>
		<%= pluralize(location.errors.count, "error") %> prohibited this place from being saved:</h2>

	<ul>
		<% location.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>

<div class="field">
	<%= form.label :latitude %>
	<%= form.text_field :latitude %>
</div>

<div class="field">
	<%= form.label :longitude %>
	<%= form.text_field :longitude %>
</div>

	<input id="pac-input" class="controls" type="text" placeholder="Search Address">

<p>
	<div id="map"></div>
</p>

<div class="actions">
	<%= form.submit %>
</div>
<% end %>